{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}

{% block scripts_top %}
    {{ block.super }}
    <style type="text/css">
    #myModal2 > div > h1{
        font-size: 30px;
       text-align: center;
    text-transform: uppercase;
    }
    .myModal2_p {
    width: 80%;
    margin: 0 auto;
        font-size: 17px;
        padding-bottom: 1em;
    }
 #map,#map_place {
    margin: 0 auto;width: 100%;
    height: 100% !important;
    position: absolute !important;
}
.bar_options {
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.bar_options ul {
    width: 60%;
padding: 10px;
list-style: none;
text-align: center;
margin: 0 auto;
background: rgba(63, 56, 56, 0.45);
border-radius: 5px;
}
.bar_options ul li {
    display: inline-block;
    margin: 0 1% 0 1%;
}
aside {
   width: 28%;
height: 80%;
background: rgba(25, 25, 21, 0.39);
position: fixed;
top: 5%;
right: 5%;
color: white;
border-radius: 4px;
overflow: scroll;
max-height: 60%;
}
#distance {
    height: 20em;
}
.panel_fiends h4 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 1em;
}
.info_fiends {
    overflow: hidden;
    margin: 0;
    list-style: none;
}
.info_fiends > li {
    background: rgba(248, 248, 248, 0.81);
    border: 1px solid rgb(178, 176, 176);
    border-radius: 5px;
    margin: -1px 10px;
    color: rgb(95, 84, 84);
    font-size: 16px;
}
.info_friend {
    margin: 0;
    position: relative;
}
.info_friend > li {
    display: inline-block;
}
.info_friend > li:last-child {
    position: absolute;
    right: 5%;
    top: 35%;
}
.score {
    font-size: 22px;
}
#map_place {
    height: 75% !important;
    left: 0;
    width: 90% !important;
    position: relative !important;
    padding: 0em;
    border-radius: 5px;
    border: 3px solid #34495e;
    margin-top: 1em;
    margin-bottom: 1em;
}
#distance h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.red_find_friends {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.red_find_friends > li {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    /* padding: 0; */
}
.red_find_friends > li a {
    width: 80%;
    margin: 0;
}
    </style>
{% endblock scripts_top %}

{% block header %}
{% endblock header%}

{% block content %}

{% endblock content %}
{% block scripts_bottom %}

    </script>
{% endblock scripts_bottom %}