a{
	text-decoration: none !important;
}
.content_intro_button {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.content_intro_button > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.content_intro_button > ul > li > a {
    padding: 10px;
    margin: 5px;
}
/*general*/
.center_text_align{
    text-align: center;
}
.button_intro_center{
    margin-bottom: 5% !important;
    float: none !important;
}

/*pagina1*/
#myCarousel {
    position: absolute;
    margin: 0;
    height: 100%;
}
#myModal {
    color: #2c3e50 !important;
}
.carousel-caption {
    background: none;
    text-align: center;
    margin-bottom: 1em;
    bottom: 5%;
}
.input_login {
    box-shadow: none !important;
}
.btn_accept_option{
    color: #2c3e50 !important;
}
.options_detail_product{
    background: white !important;
    opacity: 1;
    top: 40%;
}
.carousel-indicators {
    position: absolute;
    z-index: 5;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    bottom: 1% !important;
    top: 96%;
    right: 0;
}
.carousel-indicators li {
    display: inline-block !important;
    float: none !important;
    padding: 2px;
    cursor: pointer;
}
.item > img {
    height: auto;
    min-height: 100%;
}
#log_in{
    background: #48c9b0;
    color: white;
    border: none;
    text-shadow: none;
}
article[data-theme='flat_blue']{
    background: #415b76;
}
/*pagina2*/
#navbar{
	margin-top: 5.5em;
}
.content_tab{
	padding: 0 !important;
	background: rgba(185, 185, 185, 0.48);
}
#navbar .ui-btn-active{
	background: white !important;
	color: rgb(52, 73, 94) !important;
	border: none;
	text-shadow: none;
	padding-bottom: 2px;
}
.tab-content{
    width:100%;
    background: white;
}
.tab1 > ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
.tab1 > ul > li {
    display: inline-table;
    width: 49%;
    margin: 2% 0 2% 0;
}
.tab1 > ul > li > a {
    overflow: hidden;  width: 100%;  height: 100%;  display: block;  opacity: .7;  -webkit-transition: all .3s ease-in-out;
}
.tab2{
	overflow: hidden;
}
/*page 4*/
.content-social{
	width: 70% !important;
}
.content-social > h2{
	margin-top: 2.5em;
	font-size: 2.2em;
	line-height: 1;
	margin-bottom: .5em;
	text-align: center;
}
.social-networks {
    padding: 0;
	width: 100%;
	margin: 0;
	list-style: none;
}
.social-networks > li {
    margin: 0 0 2% 0;
	width: 100%;
}
.social-networks > li > a {
    background: rgb(52, 73, 94);
	margin: 0;
	border-radius: 7px;
	padding: 5%;
	display: block;
	-webkit-transition: background .3s ease-in-out;
	   -moz-transition: background .3s ease-in-out;
	    -ms-transition: background .3s ease-in-out;
	     -o-transition: background .3s ease-in-out;
	        transition: background .3s ease-in-out;
}
.social-networks > li > a:hover {
	background: rgb(78, 109, 141);
}
.icon-redes {
    height: 1.7em;
	width: 1.5em;
	vertical-align: middle;
	margin-right: 2em;
}
.icon-facebook{
	background: url('http://royalpioneers.com/static/website/images/icon/facebook.png');
}
.icon-twitter{
	background: url('http://royalpioneers.com/static/website/images/icon/twitter.png');
}
.icon-pinterest{
	background: url('http://royalpioneers.com/static/website/images/icon/blog.png');
}
/**pagina 5*/
.inventory_detail_product ul{
	list-style: none;
	margin: 0;
	margin-top: -3em;
}
.inventory_detail_product {
    text-align: center;
}
.price {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 8px;
    color: #1abc9c;
}
/*pagina6*/